BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_init

CREATE EXTENSION IF NOT EXISTS "pgcrypto";

CREATE TABLE departments (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR NOT NULL, 
    full_name VARCHAR DEFAULT '' NOT NULL, 
    role VARCHAR DEFAULT 'student' NOT NULL, 
    avatar_url TEXT, 
    is_active BOOLEAN DEFAULT true, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE TABLE student_profiles (
    id UUID NOT NULL, 
    user_id UUID, 
    roll_number VARCHAR, 
    department_id INTEGER, 
    graduation_year INTEGER, 
    cgpa NUMERIC(4, 2), 
    internships INTEGER DEFAULT '0', 
    active_backlogs INTEGER DEFAULT '0', 
    phone VARCHAR, 
    location VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (user_id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    UNIQUE (roll_number), 
    FOREIGN KEY(department_id) REFERENCES departments (id)
);

CREATE TABLE roles (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE skills_master (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    category VARCHAR, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE role_skills (
    id SERIAL NOT NULL, 
    role_id INTEGER NOT NULL, 
    skill_id INTEGER NOT NULL, 
    importance SMALLINT DEFAULT '3', 
    PRIMARY KEY (id), 
    UNIQUE (role_id, skill_id), 
    FOREIGN KEY(role_id) REFERENCES roles (id) ON DELETE CASCADE, 
    FOREIGN KEY(skill_id) REFERENCES skills_master (id) ON DELETE CASCADE
);

CREATE TABLE resumes (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    file_url TEXT NOT NULL, 
    file_type VARCHAR NOT NULL, 
    original_filename VARCHAR NOT NULL, 
    parse_status VARCHAR DEFAULT 'pending', 
    raw_text TEXT, 
    embedding_id VARCHAR, 
    is_active BOOLEAN DEFAULT true, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX idx_resumes_user ON resumes (user_id);

CREATE TABLE resume_skills (
    id SERIAL NOT NULL, 
    resume_id UUID NOT NULL, 
    skill_id INTEGER, 
    raw_text VARCHAR NOT NULL, 
    proficiency VARCHAR, 
    PRIMARY KEY (id), 
    FOREIGN KEY(resume_id) REFERENCES resumes (id) ON DELETE CASCADE, 
    FOREIGN KEY(skill_id) REFERENCES skills_master (id)
);

CREATE INDEX idx_resume_skills_resume ON resume_skills (resume_id);

CREATE TABLE resume_education (
    id SERIAL NOT NULL, 
    resume_id UUID NOT NULL, 
    institution VARCHAR, 
    degree VARCHAR, 
    field_of_study VARCHAR, 
    start_year INTEGER, 
    end_year INTEGER, 
    gpa NUMERIC(4, 2), 
    PRIMARY KEY (id), 
    FOREIGN KEY(resume_id) REFERENCES resumes (id) ON DELETE CASCADE
);

CREATE TABLE resume_projects (
    id SERIAL NOT NULL, 
    resume_id UUID NOT NULL, 
    title VARCHAR NOT NULL, 
    description TEXT, 
    tech_stack VARCHAR[], 
    project_url VARCHAR, 
    PRIMARY KEY (id), 
    FOREIGN KEY(resume_id) REFERENCES resumes (id) ON DELETE CASCADE
);

CREATE TABLE resume_certifications (
    id SERIAL NOT NULL, 
    resume_id UUID NOT NULL, 
    title VARCHAR NOT NULL, 
    issuer VARCHAR, 
    issue_date DATE, 
    credential_url VARCHAR, 
    PRIMARY KEY (id), 
    FOREIGN KEY(resume_id) REFERENCES resumes (id) ON DELETE CASCADE
);

CREATE TABLE ats_reports (
    id UUID NOT NULL, 
    resume_id UUID NOT NULL, 
    overall_score NUMERIC(5, 2) NOT NULL, 
    keyword_score NUMERIC(5, 2), 
    formatting_score NUMERIC(5, 2), 
    section_score NUMERIC(5, 2), 
    missing_sections VARCHAR[], 
    suggestions JSONB, 
    target_role_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(resume_id) REFERENCES resumes (id) ON DELETE CASCADE, 
    FOREIGN KEY(target_role_id) REFERENCES roles (id)
);

CREATE INDEX idx_ats_reports_resume ON ats_reports (resume_id);

CREATE TABLE skill_gap_reports (
    id UUID NOT NULL, 
    resume_id UUID NOT NULL, 
    role_id INTEGER NOT NULL, 
    matched_skills JSONB NOT NULL, 
    missing_skills JSONB NOT NULL, 
    match_percentage NUMERIC(5, 2) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(resume_id) REFERENCES resumes (id) ON DELETE CASCADE, 
    FOREIGN KEY(role_id) REFERENCES roles (id)
);

CREATE INDEX idx_skill_gap_resume_role ON skill_gap_reports (resume_id, role_id);

CREATE TABLE roadmaps (
    id UUID NOT NULL, 
    skill_gap_report_id UUID NOT NULL, 
    total_weeks INTEGER NOT NULL, 
    plan JSONB NOT NULL, 
    milestones JSONB NOT NULL, 
    generated_by VARCHAR DEFAULT 'mock', 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(skill_gap_report_id) REFERENCES skill_gap_reports (id) ON DELETE CASCADE
);

CREATE TABLE readiness_scores (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    technical_score NUMERIC(5, 2), 
    aptitude_score NUMERIC(5, 2), 
    communication_score NUMERIC(5, 2), 
    interview_score NUMERIC(5, 2), 
    overall_score NUMERIC(5, 2) NOT NULL, 
    computed_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE placement_predictions (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    model_version VARCHAR NOT NULL, 
    input_features JSONB NOT NULL, 
    probability NUMERIC(5, 4) NOT NULL, 
    predicted_label BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX idx_placement_pred_user ON placement_predictions (user_id);

CREATE TABLE companies (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    logo_url VARCHAR, 
    PRIMARY KEY (id)
);

CREATE TABLE jobs (
    id UUID NOT NULL, 
    company_id INTEGER, 
    title VARCHAR NOT NULL, 
    role_id INTEGER, 
    description TEXT, 
    required_skills JSONB, 
    experience_min NUMERIC(3, 1) DEFAULT '0', 
    experience_max NUMERIC(3, 1), 
    location VARCHAR, 
    job_type VARCHAR NOT NULL, 
    embedding_id VARCHAR, 
    is_active BOOLEAN DEFAULT true, 
    posted_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(company_id) REFERENCES companies (id), 
    FOREIGN KEY(role_id) REFERENCES roles (id)
);

CREATE INDEX idx_jobs_role ON jobs (role_id);

CREATE TABLE job_matches (
    id UUID NOT NULL, 
    resume_id UUID NOT NULL, 
    job_id UUID NOT NULL, 
    similarity_score NUMERIC(5, 4) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (resume_id, job_id), 
    FOREIGN KEY(resume_id) REFERENCES resumes (id) ON DELETE CASCADE, 
    FOREIGN KEY(job_id) REFERENCES jobs (id) ON DELETE CASCADE
);

CREATE INDEX idx_job_matches_resume ON job_matches (resume_id);

CREATE TABLE interview_sessions (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    mode VARCHAR NOT NULL, 
    role_id INTEGER, 
    status VARCHAR DEFAULT 'in_progress', 
    overall_feedback JSONB, 
    score NUMERIC(5, 2), 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    completed_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(role_id) REFERENCES roles (id)
);

CREATE INDEX idx_interview_sessions_user ON interview_sessions (user_id);

CREATE TABLE interview_turns (
    id UUID NOT NULL, 
    session_id UUID NOT NULL, 
    turn_number INTEGER NOT NULL, 
    question TEXT NOT NULL, 
    answer TEXT, 
    feedback JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES interview_sessions (id) ON DELETE CASCADE
);

CREATE TABLE coding_problems (
    id UUID NOT NULL, 
    role_id INTEGER, 
    title VARCHAR NOT NULL, 
    difficulty VARCHAR NOT NULL, 
    statement TEXT NOT NULL, 
    starter_code JSONB, 
    test_cases JSONB NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(role_id) REFERENCES roles (id)
);

CREATE TABLE coding_attempts (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    problem_id UUID NOT NULL, 
    submitted_code TEXT NOT NULL, 
    language VARCHAR NOT NULL, 
    passed_cases INTEGER DEFAULT '0', 
    total_cases INTEGER DEFAULT '0', 
    score NUMERIC(5, 2), 
    execution_log JSONB, 
    submitted_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(problem_id) REFERENCES coding_problems (id)
);

CREATE INDEX idx_coding_attempts_user ON coding_attempts (user_id);

CREATE TABLE aptitude_questions (
    id UUID NOT NULL, 
    category VARCHAR NOT NULL, 
    question TEXT NOT NULL, 
    options JSONB NOT NULL, 
    correct_option SMALLINT NOT NULL, 
    difficulty VARCHAR, 
    PRIMARY KEY (id)
);

CREATE TABLE aptitude_attempts (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    category_scores JSONB NOT NULL, 
    overall_score NUMERIC(5, 2) NOT NULL, 
    total_questions INTEGER NOT NULL, 
    correct_answers INTEGER NOT NULL, 
    submitted_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX idx_student_profiles_dept ON student_profiles (department_id);

INSERT INTO alembic_version (version_num) VALUES ('0001_init') RETURNING alembic_version.version_num;

-- Running upgrade 0001_init -> 0002_target_role

ALTER TABLE student_profiles ADD COLUMN target_role VARCHAR;

UPDATE alembic_version SET version_num='0002_target_role' WHERE alembic_version.version_num = '0001_init';

-- Running upgrade 0002_target_role -> 0003_resume_fields

ALTER TABLE resumes ADD COLUMN name VARCHAR;

ALTER TABLE resumes ADD COLUMN email VARCHAR;

ALTER TABLE resumes ADD COLUMN phone VARCHAR;

ALTER TABLE resumes ADD COLUMN github_url VARCHAR;

ALTER TABLE resumes ADD COLUMN linkedin_url VARCHAR;

ALTER TABLE resumes ADD COLUMN portfolio_url VARCHAR;

ALTER TABLE resumes ADD COLUMN achievements VARCHAR[];

ALTER TABLE resume_skills ADD COLUMN category VARCHAR;

CREATE TABLE resume_experience (
    id SERIAL NOT NULL, 
    resume_id UUID NOT NULL, 
    company VARCHAR NOT NULL, 
    role VARCHAR, 
    description TEXT, 
    start_date DATE, 
    end_date DATE, 
    is_current BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(resume_id) REFERENCES resumes (id) ON DELETE CASCADE
);

UPDATE alembic_version SET version_num='0003_resume_fields' WHERE alembic_version.version_num = '0002_target_role';

-- Running upgrade 0003_resume_fields -> 6206d8cdbabb

ALTER TABLE aptitude_attempts ALTER COLUMN submitted_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE aptitude_attempts ALTER COLUMN submitted_at SET NOT NULL;

ALTER TABLE ats_reports ADD COLUMN recommended_roles JSONB;

ALTER TABLE ats_reports ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE ats_reports ALTER COLUMN created_at SET NOT NULL;

DROP INDEX idx_ats_reports_resume;

ALTER TABLE coding_attempts ALTER COLUMN passed_cases SET NOT NULL;

ALTER TABLE coding_attempts ALTER COLUMN total_cases SET NOT NULL;

ALTER TABLE coding_attempts ALTER COLUMN submitted_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE coding_attempts ALTER COLUMN submitted_at SET NOT NULL;

DROP INDEX idx_coding_attempts_user;

ALTER TABLE coding_problems ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE coding_problems ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE departments ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE departments ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE interview_sessions ALTER COLUMN status SET NOT NULL;

ALTER TABLE interview_sessions ALTER COLUMN started_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE interview_sessions ALTER COLUMN started_at SET NOT NULL;

ALTER TABLE interview_sessions ALTER COLUMN completed_at TYPE TIMESTAMP WITHOUT TIME ZONE;

DROP INDEX idx_interview_sessions_user;

ALTER TABLE interview_turns ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE interview_turns ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE job_matches ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE job_matches ALTER COLUMN created_at SET NOT NULL;

DROP INDEX idx_job_matches_resume;

ALTER TABLE jobs ALTER COLUMN experience_min SET NOT NULL;

ALTER TABLE jobs ALTER COLUMN is_active SET NOT NULL;

ALTER TABLE jobs ALTER COLUMN posted_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE jobs ALTER COLUMN posted_at SET NOT NULL;

DROP INDEX idx_jobs_role;

ALTER TABLE placement_predictions ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE placement_predictions ALTER COLUMN created_at SET NOT NULL;

DROP INDEX idx_placement_pred_user;

ALTER TABLE readiness_scores ALTER COLUMN computed_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE readiness_scores ALTER COLUMN computed_at SET NOT NULL;

DROP INDEX idx_resume_skills_resume;

ALTER TABLE resumes ALTER COLUMN parse_status SET NOT NULL;

ALTER TABLE resumes ALTER COLUMN is_active SET NOT NULL;

ALTER TABLE resumes ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE resumes ALTER COLUMN created_at SET NOT NULL;

DROP INDEX idx_resumes_user;

ALTER TABLE roadmaps ALTER COLUMN generated_by SET NOT NULL;

ALTER TABLE roadmaps ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE roadmaps ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE role_skills ALTER COLUMN importance SET NOT NULL;

ALTER TABLE skill_gap_reports ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE skill_gap_reports ALTER COLUMN created_at SET NOT NULL;

DROP INDEX idx_skill_gap_resume_role;

ALTER TABLE student_profiles ALTER COLUMN user_id SET NOT NULL;

ALTER TABLE student_profiles ALTER COLUMN internships SET NOT NULL;

ALTER TABLE student_profiles ALTER COLUMN active_backlogs SET NOT NULL;

ALTER TABLE student_profiles ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE student_profiles ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE student_profiles ALTER COLUMN updated_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE student_profiles ALTER COLUMN updated_at SET NOT NULL;

DROP INDEX idx_student_profiles_dept;

ALTER TABLE users ALTER COLUMN is_active SET NOT NULL;

ALTER TABLE users ALTER COLUMN created_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE users ALTER COLUMN created_at SET NOT NULL;

ALTER TABLE users ALTER COLUMN updated_at TYPE TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE users ALTER COLUMN updated_at SET NOT NULL;

UPDATE alembic_version SET version_num='6206d8cdbabb' WHERE alembic_version.version_num = '0003_resume_fields';

COMMIT;

